################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/packages
*.user
/.vs/stickme/v14
/.vs/stickme/v15/Server/sqlite3
/.vs/stickme/v15/.suo
