<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="stickme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <stickme.Properties.Settings>
      <setting name="closedImage" serializeAs="String">
        <value>closed.png</value>
      </setting>
      <setting name="twentyImage" serializeAs="String">
        <value>20.png</value>
      </setting>
      <setting name="fourtyImage" serializeAs="String">
        <value>40.png</value>
      </setting>
      <setting name="sixtyImage" serializeAs="String">
        <value>60.png</value>
      </setting>
      <setting name="eightyImage" serializeAs="String">
        <value>80.png</value>
      </setting>
      <setting name="openImage" serializeAs="String">
        <value>100.png</value>
      </setting>
      <setting name="pttButton" serializeAs="String">
        <value>Middle</value>
      </setting>
      <setting name="enablePtt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbFloor" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="dbMax" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="dynamicMax" serializeAs="String">
        <value>True</value>
      </setting>
    </stickme.Properties.Settings>
  </applicationSettings>
</configuration>